{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Toko Indo. Xiao Bin Cheng</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">{{mybrand}}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% comment "hide for first web version" %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                    {% endcomment %}
                    {% comment "old product menu" %}
                    <li><a href="{% url 'products' %}">{% trans "Products" %}</a></li>
                    {% endcomment %}
                    {% if product_categories %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans "Products" %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for category in product_categories %}
                                    {% if category.show_it %}
                                        <li><a href="{% url 'products' %}?c={{category.code}}">{{category.name_indo}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% comment "hide for first version" %}
                    <li><a href="{% url 'delivery_intro' %}">Delivery</a></li>
                    {% endcomment %}
                    <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                </ul>
                {% comment "new lang picker" %}
                <div class="btn-group btn-group btn-group-sm" id="lang_picker">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{LANGUAGE_CODE}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for language in languages %}
                            <li>{{language.name_local}} ({{language.code}})</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endcomment %}
                {% comment "old lang picker" %}
                <form action="/i18n/setlang/" method="post" class='nav navbar-nav navbar-right'>{% csrf_token %}
                    <input name="next" type="hidden" value="/" />
                    <select name="language" class="form-control">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go" />
                </form>
                <% endcomment %}
                {% comment %}
                {% include 'app/loginpartial.html' %}
                {% endcomment %}
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - Toko Indo Xiao Bin Cheng</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58836963-1', 'auto');
      ga('send', 'pageview');

    </script>
{% block scripts %}{% endblock %}

</body>
</html>
